<nav class="navbar">
  <ul>
    <li><a href="#">Accueil</a></li>
    <li><a href="#">Hébergements</a></li>
    <li><a href="#">Expériences</a></li>
    <li><a href="#">Destinations</a></li>
    <li><a href="#">Réservations</a></li>
    <li><a href="#">Aide</a></li>
  </ul>
</nav>