    <nav class="navbar">
  <ul>
    <li><img class="airbnb" src="/assets/images/Airbnb.png" alt="Airbnb"></li>
    <div class="search-bar">
      <input type="text" placeholder="Ajouter des voyageurs">
      <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="menu">
    <li class="menu1"><a href="#">Inscription</a></li>
    <li class="menu1"><a href="#">Connexion</a></li>
    </div>
  </ul>
</nav>