{# <nav class="navbar">
  <ul>
    <li><a href="{{ path('app_index') }}">Accueil</a></li>
    <li><a href="{{ path('app_appartment_index') }}">Hébergements</a></li>
    <li><a href="#">Expériences</a></li>
    <li><a href="#">Destinations</a></li>
    <li><a href="#">Réservations</a></li>
  </ul>
</nav> #}