{% extends 'base.html.twig' %}

{% block title %}Hello AppartmentController!{% endblock %}

{% block body %}

<ul>
    {% for category in allCategory %}

        <a href='{{ path('app_index_filtered',{filter: category.id})  }}'><li>{{category.title}}</li></a>

    {% endfor %}

<ul>
    {% for appartment in allAppartment %}

        {% include 'partials/_card.html.twig' %}

    {% endfor %}

</div>
{% endblock %}
